---
import BaseHead from "../components/BaseHead.astro";
import "../styles/vendor/matters-ds/tokens/tokens.css";
import "../styles/vendor/matters-ds/tokens/freewrite.css";
import "../styles/base.css";

interface Props {
  title?: string;
  fullTitle?: string;
  description?: string;
  ogImage?: string;
  noindex?: boolean;
}

const { title, fullTitle, description, ogImage, noindex } = Astro.props;
---

<!doctype html>
<html lang="zh-TW">
  <head>
    <BaseHead
      title={title}
      fullTitle={fullTitle}
      description={description}
      ogImage={ogImage}
      noindex={noindex}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
